.App {
  text-align: center;
}

.App-header {
  background-color: rgb(145, 137, 137);
  height: 40px;
  padding: 5px;
  color: rgb(5, 27, 98);
  margin-bottom: 20px;
}
.controles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.perfil-usuario {
  margin-top: 2em;
  align-items: center;
}

.profile-frame {
  width: 75%;
  background-color: rgb(223, 217, 217);
  margin: 0 auto;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.etiqueta {
  margin-right: 0.6em;
  margin-left:1em;
}
input {
  width: 35%;  
}

.fuente-perfil {
  font-size: 0.8em;
}